cosmos/flows.json
[{"id":"8c271b2.19e56e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"481321ca.1fce8","type":"ui_form","z":"8c271b2.19e56e8","name":"","label":"diagnosis","group":"143f712c.9e48df","order":0,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true},{"label":"texture_mean","value":"tm","type":"number","required":true},{"label":"perimeter_mean","value":"pm","type":"number","required":true},{"label":"area_mean","value":"am","type":"number","required":true},{"label":"smoothness_mean","value":"sm","type":"number","required":true},{"label":"compactness_mean","value":"cm","type":"number","required":true},{"label":"concavity_mean","value":"ccm","type":"number","required":true},{"label":"concave points_mean","value":"cpm","type":"number","required":true},{"label":"symmetry_mean","value":"smm","type":"number","required":true},{"label":"fractal_dimension_mean","value":"fdm","type":"number","required":true},{"label":"radius_se","value":"rs","type":"number","required":true},{"label":"texture_se","value":"ts","type":"number","required":true},{"label":"perimeter_se","value":"ps","type":"number","required":true},{"label":"area_se","value":"as","type":"number","required":true},{"label":"smoothness_se","value":"ss","type":"number","required":true},{"label":"compactness_se","value":"cs","type":"number","required":true},{"label":"concavity_se","value":"ccs","type":"number","required":true},{"label":"concave points_se","value":"cps","type":"number","required":true},{"label":"symmetry_se","value":"sse","type":"number","required":true},{"label":"fractal_dimension_se","value":"fds","type":"number","required":true},{"label":"radius_worst","value":"rw","type":"number","required":true},{"label":"texture_worst","value":"tw","type":"number","required":true},{"label":"perimeter_worst ","value":"pw","type":"number","required":true},{"label":"area_worst ","value":"aw","type":"number","required":true},{"label":"smoothness_worst ","value":"sw","type":"number","required":true},{"label":"compactness_worst ","value":"cw","type":"number","required":true},{"label":"concavity_worst","value":"ccw","type":"number","required":true},{"label":"concave points_worst ","value":"cpw","type":"number","required":true},{"label":"symmetry_worst","value":"smw","type":"number","required":true},{"label":"fractal_dimension_worst","value":"fdw","type":"number","required":true}],"formValue":{"rm":"","tm":"","pm":"","am":"","sm":"","cm":"","ccm":"","cpm":"","smm":"","fdm":"","rs":"","ts":"","ps":"","as":"","ss":"","cs":"","ccs":"","cps":"","sse":"","fds":"","rw":"","tw":"","pw":"","aw":"","sw":"","cw":"","ccw":"","cpw":"","smw":"","fdw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":300,"wires":[["c338c3cf.68ae2","469351d2.e4fa5","c9a4bda1.68cb","fef46cdf.c7785","7d161cf3.7185b4","642b9a30.a8a6f4","1c670471.f5152c","604ac906.5356f8","ed9c98b2.6f2a78","83347d4e.95607","1a7756ea.a49169","6b0f83e5.2eba3c","aa2197b7.08d298","4234a306.f37b2c","22211395.46855c","5ab18e02.62b38","75e34aae.c3cc94","bf104f9e.da043","2cdfabe.3854d54","c79619d1.c1ff78","11338947.7bd2d7","6885337c.d90c3c","81a5d5f0.a50038","fbd4fc25.ed073","2ec142aa.31ebae","7291074f.971578","71dbc198.9a793","252bbc2b.284ca4","9653aeb1.9a3be","a65eb684.06f5d8","6cbe0338.f89bcc"]]},{"id":"6cbe0338.f89bcc","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":1,"width":0,"height":0,"name":"","label":"radius_mean ","format":"{{msg.payload.rm}}","layout":"row-spread","x":350,"y":40,"wires":[]},{"id":"c338c3cf.68ae2","type":"debug","z":"8c271b2.19e56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":90,"y":160,"wires":[]},{"id":"469351d2.e4fa5","type":"function","z":"8c271b2.19e56e8","name":"token generation","func":"global.set(\"rm\",msg.payload.rm)\n\nglobal.set(\"tm\",msg.payload.tm)\n\nglobal.set(\"pm\",msg.payload.pm)\n\nglobal.set(\"am\",msg.payload.am)\n\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"ccm\",msg.payload.ccm)\nglobal.set(\"cpm\",msg.payload.cpm)\nglobal.set(\"smm\",msg.payload.smm)\nglobal.set(\"fdm\",msg.payload.fdm)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"as\",msg.payload.as)\nglobal.set(\"ss\",msg.payload.ss)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"ccs\",msg.payload.ccs)\nglobal.set(\"cps\",msg.payload.cps)\nglobal.set(\"sse\",msg.payload.sse)\nglobal.set(\"fds\",msg.payload.fds)\nglobal.set(\"rw\",msg.payload.rw)\nglobal.set(\"tw\",msg.payload.tw)\nglobal.set(\"pw\",msg.payload.pw)\nglobal.set(\"aw\",msg.payload.aw)\nglobal.set(\"sw\",msg.payload.sw)\nglobal.set(\"cw\",msg.payload.cw)\nglobal.set(\"ccw\",msg.payload.ccw)\nglobal.set(\"cpw\",msg.payload.cpm)\nglobal.set(\"smw\",msg.payload.smw)\nglobal.set(\"fdw\",msg.payload.fdm)\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["f0a7916.344917","32a41bcd.7ec224"]]},{"id":"f0a7916.344917","type":"http request","z":"8c271b2.19e56e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":770,"y":220,"wires":[["54242e3c.26203","909adf97.d8af9"]]},{"id":"54242e3c.26203","type":"function","z":"8c271b2.19e56e8","name":"prediction","func":"var token=msg.payload.token;\nvar rm=global.get(\"rm\");\nvar tm=global.get(\"tm\");\nvar pm=global.get(\"pm\");\nvar am=global.get(\"am\");\nvar sm=global.get(\"sm\");\nvar cm=global.get(\"cm\");\nvar ccm=global.get(\"ccm\");\nvar cpm=global.get(\"cpm\");\nvar smm=global.get(\"smm\");\nvar fdm=global.get(\"fdm\");\nvar rs=global.get(\"rs\");\nvar ts=global.get(\"ts\");\nvar ps=global.get(\"ps\");\nvar as=global.get(\"as\");\nvar ss=global.get(\"ss\");\nvar cs=global.get(\"cs\");\nvar ccs=global.get(\"ccs\");\nvar cps=global.get(\"cps\");\nvar sse=global.get('sse');\nvar fds=global.get(\"fds\");\nvar rw=global.get(\"rw\");\nvar tw=global.get(\"tw\");\nvar pw=global.get(\"pw\");\nvar aw=global.get(\"aw\");\nvar sw=global.get(\"sw\");\nvar cw=global.get(\"cw\");\nvar ccw=global.get(\"ccw\");\nvar cpw=global.get(\"cpw\");\nvar smw=global.get(\"smw\");\nvar fdw=global.get(\"fdw\");\nmsg.payload={\"fields\":[\"fractal_dimension_worst\",'symmetry_worst','concave points_worst','concavity_worst','compactness_worst','smoothness_worst','area_worst','perimeter_worst','radius_worst','texture_worst ','fractal_dimension_se','symmetry_se','concave points_se','concavity_se','compactness_se','smoothness_se','area_se','perimeter_se','texture_se','radius_se','fractal_dimension_mean','symmetry_mean','concave points_mean','concavity_mean','compactness_mean','smoothness_mean','area_mean','perimeter_mean','texture_mean','radius_mean'],\"values\":[[fdw,smw,cpw,ccw,cw,sw,aw,pw,rw,tw,fds,sse,cps,ccs,cs,ss,as,ps,ts,rs,fdm,smm,cpm,ccm,cm,sm,am,pm,tm,rm]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":873.3333511352539,"y":110.00000476837158,"wires":[["bde57af2.f9ecc8","4637be49.00685"]]},{"id":"909adf97.d8af9","type":"debug","z":"8c271b2.19e56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":220,"wires":[]},{"id":"bde57af2.f9ecc8","type":"http request","z":"8c271b2.19e56e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d40d937e-f95b-4cec-bb97-e17f01416f93/deployments/0d698200-e43e-4967-a2da-58998ffa6e53/online","tls":"","proxy":"","authType":"basic","x":1130,"y":80,"wires":[["d87badea.2fc08","ecf7df12.e57e"]]},{"id":"d87badea.2fc08","type":"debug","z":"8c271b2.19e56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1370,"y":20,"wires":[]},{"id":"ecf7df12.e57e","type":"function","z":"8c271b2.19e56e8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":140,"wires":[["4b0cd6ff.b67018","da1bc4fb.e72228"]]},{"id":"4b0cd6ff.b67018","type":"debug","z":"8c271b2.19e56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":100,"wires":[]},{"id":"da1bc4fb.e72228","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":200,"wires":[]},{"id":"fef46cdf.c7785","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":3,"width":0,"height":0,"name":"","label":"texture_mean","format":"{{msg.payload.tm}}","layout":"row-center","x":360,"y":80,"wires":[]},{"id":"1c670471.f5152c","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":4,"width":0,"height":0,"name":"","label":"perimeter_mean","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":120,"wires":[]},{"id":"604ac906.5356f8","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":5,"width":0,"height":0,"name":"","label":"area_mean","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":160,"wires":[]},{"id":"642b9a30.a8a6f4","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":8,"width":0,"height":0,"name":"","label":"concavity_mean ","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":420,"wires":[]},{"id":"7d161cf3.7185b4","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":7,"width":0,"height":0,"name":"","label":"compactness_mean","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":380,"wires":[]},{"id":"c9a4bda1.68cb","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":6,"width":0,"height":0,"name":"","label":"smoothness_mean ","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":340,"wires":[]},{"id":"ed9c98b2.6f2a78","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":9,"width":0,"height":0,"name":"","label":"concave points_mean","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":460,"wires":[]},{"id":"83347d4e.95607","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":11,"width":0,"height":0,"name":"","label":"fractal_dimension_mean","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":200,"wires":[]},{"id":"1a7756ea.a49169","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":10,"width":0,"height":0,"name":"","label":"symmetry_mean","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":500,"wires":[]},{"id":"6b0f83e5.2eba3c","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":13,"width":0,"height":0,"name":"","label":"texture_se","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":540,"wires":[]},{"id":"aa2197b7.08d298","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":14,"width":0,"height":0,"name":"","label":"perimeter_se","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":580,"wires":[]},{"id":"4234a306.f37b2c","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":15,"width":0,"height":0,"name":"","label":"area_se ","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":620,"wires":[]},{"id":"22211395.46855c","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":16,"width":0,"height":0,"name":"","label":"smoothness_se","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":660,"wires":[]},{"id":"784e0231.3eb73c","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":12,"width":0,"height":0,"name":"","label":"radius_se","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":240,"wires":[]},{"id":"5ab18e02.62b38","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":17,"width":0,"height":0,"name":"","label":"compactness_se","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":700,"wires":[]},{"id":"75e34aae.c3cc94","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":18,"width":0,"height":0,"name":"","label":"concavity_se","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":740,"wires":[]},{"id":"c79619d1.c1ff78","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":19,"width":0,"height":0,"name":"","label":"concave points_se","format":"{{msg.payload}}","layout":"row-spread","x":150,"y":520,"wires":[]},{"id":"11338947.7bd2d7","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":20,"width":0,"height":0,"name":"","label":"symmetry_se","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":560,"wires":[]},{"id":"6885337c.d90c3c","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":21,"width":0,"height":0,"name":"","label":"fractal_dimension_se","format":"{{msg.payload}}","layout":"row-spread","x":160,"y":600,"wires":[]},{"id":"81a5d5f0.a50038","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":22,"width":0,"height":0,"name":"","label":"radius_worst ","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":640,"wires":[]},{"id":"fbd4fc25.ed073","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":23,"width":0,"height":0,"name":"","label":"texture_worst ","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":680,"wires":[]},{"id":"2ec142aa.31ebae","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":24,"width":0,"height":0,"name":"","label":"perimeter_worst ","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":720,"wires":[]},{"id":"7291074f.971578","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":27,"width":0,"height":0,"name":"","label":"compactness_worst ","format":"{{msg.payload}}","layout":"row-spread","x":160,"y":760,"wires":[]},{"id":"2cdfabe.3854d54","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":26,"width":0,"height":0,"name":"","label":"smoothness_worst","format":"{{msg.payload}}","layout":"row-spread","x":150,"y":480,"wires":[]},{"id":"bf104f9e.da043","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":25,"width":0,"height":0,"name":"","label":"area_worst ","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":440,"wires":[]},{"id":"71dbc198.9a793","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":28,"width":0,"height":0,"name":"","label":"concavity_worst","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":780,"wires":[]},{"id":"9653aeb1.9a3be","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":29,"width":0,"height":0,"name":"","label":"concave points_worst","format":"{{msg.payload}}","layout":"row-spread","x":160,"y":400,"wires":[]},{"id":"a65eb684.06f5d8","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":30,"width":0,"height":0,"name":"","label":"symmetry_worst  ","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":800,"wires":[]},{"id":"252bbc2b.284ca4","type":"ui_text","z":"8c271b2.19e56e8","group":"143f712c.9e48df","order":31,"width":0,"height":0,"name":"","label":"fractal_dimension_worst","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":820,"wires":[]},{"id":"4637be49.00685","type":"debug","z":"8c271b2.19e56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1127.8333129882812,"y":151,"wires":[]},{"id":"32a41bcd.7ec224","type":"debug","z":"8c271b2.19e56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":788.8333320617676,"y":358.00000953674316,"wires":[]},{"id":"143f712c.9e48df","type":"ui_group","z":"","name":"Regression","tab":"b89ff64b.50fb18","disp":true,"width":"6","collapse":false},{"id":"b89ff64b.50fb18","type":"ui_tab","z":"","name":"SmartBridge","icon":"dashboard","disabled":false,"hidden":false}]